openapi: 3.0.0
info:
  title: Funds management
  version: '1.0'
  description: |-
    Balances management require 

    /!\ NEED 'users.balance.manage' PERMISSIONS WITH THE JWT AUTH PROVIDED /!\
  contact:
    name: Eyecu.Digital
servers:
  - url: 'https://games.eyecu.digital'
    description: EyeCu Games Servers
paths:
  '/api/users/{userid}/balance/out':
    parameters:
      - schema:
          type: string
          example: '141'
        name: userid
        in: path
        required: true
        description: User ID of the user you want to remove funds
    put:
      summary: Remove funds to a user
      operationId: put-api-users-userid-balance-out
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
              examples:
                Funds added success:
                  value:
                    success: true
        '403':
          description: |-
            Forbidden

            Unable to remove funds (permissions issue)

            JWT token user need to have this permission : 'users.balance.manage'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: integer
                  message:
                    type: string
              examples:
                Unauthorized:
                  value:
                    error: 403
                    message: Unauthorized.
      description: |-
        Remove funds to a user balance

        /!\ NEED 'users.balance.manage' PERMISSIONS WITH THE JWT AUTH PROVIDED /!\
      security:
        - JWT Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                summ:
                  type: string
                  description: 'No ''cents'' format, if you want to add 55.33, you should write : "55.33", not "5533"'
              required:
                - summ
      parameters:
        - schema:
            type: string
            example: '8'
          in: query
          name: shop_id
          required: true
          description: Shop ID
        - schema:
            type: string
            example: 45Hfz480787fzf708x0z7fz05
          in: query
          name: key
          required: true
          description: API Key of the Shop
      tags:
        - Direct funds management
  '/api/users/{userid}/balance/add':
    parameters:
      - schema:
          type: string
          example: '141'
        name: userid
        in: path
        required: true
        description: User ID of the user you want to add funds
    put:
      summary: Add funds to a user
      operationId: put-api-users-userid-balance-add
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
              examples:
                Funds removed success:
                  value:
                    success: true
        '403':
          description: |-
            Forbidden

            Unable to add funds (permissions issue)

            JWT token user need to have this permission : 'users.balance.manage'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: integer
                  message:
                    type: string
              examples:
                Unauthorized:
                  value:
                    error: 403
                    message: Unauthorized.
      description: |-
        Add funds to a user balance

        /!\ NEED 'users.balance.manage' PERMISSIONS WITH THE JWT AUTH PROVIDED /!\
      security:
        - JWT Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                summ:
                  type: string
                  description: 'No ''cents'' format, if you want to remove 55.33, you should write : "55.33", not "5533"'
              required:
                - summ
      parameters:
        - schema:
            type: string
            example: '8'
          in: query
          name: shop_id
          required: true
          description: Shop ID
        - schema:
            type: string
            example: 45Hfz480787fzf708x0z7fz05
          in: query
          name: key
          required: true
          description: API Key of the Shop
      tags:
        - Direct funds management
  '/api/balances/deposits/{userid}':
    get:
      summary: Your GET endpoint
      tags:
        - Deposits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ref:
                      type: string
                      example: D408798078
                      description: Reference of the deposit
                    shop_id:
                      type: integer
                      example: 8
                      description: Shop ID
                    user_id:
                      type: integer
                      example: 141
                      description: User ID
                    source:
                      type: string
                      example: Paypal
                      description: Deposit source (payment provider)
                    source_infos:
                      type: string
                      example: 'Paypal ref : JHYTG048967807HRTFD'
                      description: Source infos (Payment provided extra infos)
                    currency:
                      type: string
                      example: USD
                      description: Currency of the deposit
                    amount:
                      type: string
                      example: '20.00'
                      description: Amount of the deposit made
                    fees:
                      type: string
                      example: '1.00'
                      description: Fees taken
                    funded:
                      type: string
                      example: '19.00'
                      description: Amount funded to the user
                    funded_currency:
                      type: string
                      example: USD
                      description: Funded currency
                    convert_rate:
                      type: string
                      example: '1'
                      description: Convert rate between currency of the payment & currency funded
                    admin_id:
                      type: string
                      example: '5'
                      description: Admin ID who changed the payment status
                    created_at:
                      type: string
                      example: '2020-05-01 15:30:25'
                      description: Deposit creation date
                    updated_at:
                      type: string
                      example: '2020-05-02 12:25:25'
                      description: Deposit last update
                    status:
                      type: integer
                      example: 1
                      description: 'Status of the payment (1 => Approved, 0 => Pending, -1 => Declined)'
                    status_text:
                      type: string
                      example: Approved
                      description: 'Status text associate (Approved, Pending, Declined)'
              examples:
                Deposits list:
                  value:
                    - ref: D408798078
                      shop_id: 8
                      user_id: 141
                      source: Paypal
                      source_infos: 'Paypal ref : JHYTG048967807HRTFD'
                      currency: USD
                      amount: '20.00'
                      fees: '1.00'
                      funded: '19.00'
                      funded_currency: USD
                      convert_rate: '1'
                      admin_id: '5'
                      created_at: '2020-05-01 15:30:25'
                      updated_at: '2020-05-02 12:25:25'
                      status: 1
                      status_text: Approved
      operationId: get-api-balances-deposits
      description: |-
        Get list of deposits made for a user

        /!\ NEED 'balances.deposits.manage' PERMISSIONS WITH THE JWT AUTH PROVIDED /!\
      security:
        - JWT Token: []
    parameters:
      - schema:
          type: string
          example: '141'
        name: userid
        in: path
        required: true
        description: User ID of the user you want to fetch the desposits mades
    post:
      summary: Create a new deposit
      operationId: post-api-balances-deposits-userid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sucess:
                    type: boolean
                    description: Deposit created ?
                  deposit_ref:
                    type: string
                    description: Deposit reference created
                    example: D52151984848
                required:
                  - sucess
                  - deposit_ref
              examples:
                Deposit created:
                  value:
                    sucess: true
                    deposit_ref: D14850489078
      tags:
        - Deposits
      description: |-
        Create a new deposit for a user

        /!\ NEED 'balances.deposits.manage' PERMISSIONS WITH THE JWT AUTH PROVIDED /!\
      security:
        - JWT Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  example: Paypal
                  description: Source of the deposit
                source_jnfos:
                  type: string
                  example: 'Paypal token : 5GMDLHGRFDSZEF'
                  description: Source infos of the deposit (link to a payment processor)
                currency:
                  type: string
                  description: Currency of the deposit
                  example: USD
                amount:
                  type: string
                  description: Amount of the deposit (Ex for 20$ => 20.00)
                  example: '20,00'
                fees:
                  type: string
                  example: '1.00'
                  description: Fees taken for the deposit
                status:
                  type: integer
                  example: 0
                  description: '1 => Approved, 0 => In pending, -1 => Declined. If not provided => default 0'
                  default: 0
        description: ''
components:
  schemas: {}
  securitySchemes:
    JWT Token:
      type: http
      scheme: bearer
      description: Provided by /api/login
tags:
  - name: Direct funds management
  - name: Deposits
